.App {
  text-align: center;
  margin: 0 auto;
}

.turn {
  font-size: 30px;
}
.dice-btn {
  border: solid blue 2px;
  border-radius: 5px;
  width: 150px;
  background-color: transparent;
  padding: 0.5rem;
  margin-top: 3rem;
}
.dice {
  font-weight: bold;
  margin-top: 1rem;
}
.score {
  display: flex;
  width: 500px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 2rem;
}
.message {
  margin-top: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
